<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:replace="_fragments :: head(~{::title})">
    <title>关于我</title>
</head>
<body>
<!--头部导航-->
<nav th:replace="_fragments :: menu(5)" ></nav>
    <!--中间内容-->
    <div class="m-container m-padded-tb-large">
        <div class="ui container">
            <div class="ui stackable grid">
                <!--左边部分-->
                <div class="eleven wide column">
                    <img src="https://picsum.photos/id/20/800/600" alt="" class="ui rounded image">
                </div>

                <!--右边部分-->
                <div class="five wide column">
                    <div class="ui top attached segment">
                        <div class="ui header">关于我</div>
                    </div>
                    <div class="ui attached segment">
                        <p class="m-text-thin">刹那·F·清英（刹那·F·セイエイ，Setsuna·F·Seiei），是动画《机动战士高达00》、剧场版《机动战士高达00：先驱者的觉醒》的第一男主角。该名字“刹那”是他在天人组织中的代号，其代号之意为永恒中的一瞬间。</p>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui labels">
                            <div class="ui basic orange label">唱</div>
                            <div class="ui basic orange label">跳</div>
                            <div class="ui basic orange label">rap</div>
                            <div class="ui basic orange label">Apex</div>
                            <div class="ui basic orange label">Rainbow Six</div>
                        </div>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui labels">
                            <div class="ui teal basic left pointing label">Java</div>
                            <div class="ui teal basic left pointing label">Python</div>
                            <div class="ui teal basic left pointing label">HTML</div>
                            <div class="ui teal basic left pointing label">MySQL</div>
                            <div class="ui teal basic left pointing label">....</div>
                        </div>
                    </div>
                    <div class="ui bottom attached segment">
                        <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
                        <a href="#" class="ui wechatQ circular icon button"><i class="wechat icon"></i></a>
                        <a href="#" class="ui qq circular icon button" data-content="937019004" data-position="bottom center" ><i class="qq icon"></i></a>
                    </div>

                    <div class="ui wechat-qr flowing popup transition hidden">
                        <img src="../static/images/Sakura.jpg" alt="" class="ui rounded image" style="width: 100px">
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">

</footer>

<!--导入的script-->
<th:block th:replace="_fragments :: script">

</th:block>
    <script>
        $('.menu.toggle').click(function (){
             $('.m-item').toggleClass('m-mobile-hide');
        });
        $('.qq').popup();

        $('.wechatQ').popup({
            popup: $('.wechat-qr'),
            on: 'hover',
            position: 'bottom center'
        });
    </script>
</body>
</html>